@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-background: #f5f5f5;
  --color-text: #333;
}

body {
    background-color: var(--color-background);
    min-height: 100vh;
    min-width: 320px;
}

/* Global markdown styling */
/* The typography plugin handles most of this via the 'prose' class */
